@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: laila;
  /* letter-spacing: 2px; */
}















.perspective-container {
  perspective: 800px;
}

.tilt-button {
  transform: rotateY(-10deg);
}

.tilt-button:hover {
  transform: rotateY(20deg);
  transform: rotateZ(-2deg);
  scale: 1.05;
  border-radius: 500px;
}
